html,
* {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

:root {
  --dark: hsl(0, 0%, 12%);
}

body {
  --background: white;
  --foreground: black;
  --foreground-alpha: 0, 0, 0;
  --highlight-soft: color-mix(in srgb, white 95%, black);
  --highlight-hard: color-mix(in srgb, white 90%, black);
}

@media (prefers-color-scheme: dark) {
  body {
    --background: var(--dark);
    --foreground: white;
    --foreground-alpha: 255, 255, 255;
    --highlight-soft: color-mix(in srgb, var(--dark) 92%, white);
    --highlight-hard: color-mix(in srgb, var(--dark) 88%, white);
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  #promptWrapper {
    background-color: var(--highlight-soft);
  }

  #promptInput {
    color: #f5f5f5;
    border: none;
  }
}

#promptWrapper {
  border-radius: 2rem;
  max-width: 40rem;
  display: flex;
  width: 100%;
  padding: 0.75rem;
  gap: 0.75rem;
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.11);
}

#promptWrapper.focus {
  background-color: var(--highlight-hard);
}

#promptInput {
  margin: 0.5rem;
  font-size: 1rem;
  border: none;
  resize: none;
  background-color: transparent;
  flex-grow: 1;
  font-family: system-ui;
}

#promptInput:focus {
  outline: none;
}

#sendWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#send {
  background-color: var(--foreground);
  border: none;
  border-radius: 2rem;
  padding: 0;
  margin: 0;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#send svg {
  stroke: var(--background);
}

#controlPanel {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  gap: 0.75rem;
}

#assistantSelect {
  padding: 0 1rem;
  border-radius: 2rem;
  font-size: 0.875rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border: none;
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.11);
  &,
  &::picker(select) {
    appearance: base-select;
  }

  /* nice layout for the selected state */
  selectedcontent {
    display: flex;
    align-items: center;
    gap: 0.5ch;

    /* hide anything not an svg */
    > :not(svg) {
      display: none;
    }
  }

  /* icon at the end with grid */
  option {
    display: grid;
    grid-template-columns: [icon] auto [content] 1fr [mark] auto;

    &::checkmark {
      grid-area: 1 / mark;
    }
  }
}

#infoButton {
  background-color: #1e1e1e; /* dark background */
  color: #f5f5f5; /* light text */
  border: 1px solid #444; /* optional: subtle border */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}

#infoModal {
  background-color: var(--background);
  color: var(--foreground);
  transform: translateY(-20px);
  &,
  &::backdrop {
    transition: display 1s allow-discrete, overlay 1s allow-discrete, opacity 1s,
      transform 1s;
    opacity: 0;
  }

  &[open] {
    opacity: 1;
    transform: translateY(0px);
    &::backdrop {
      opacity: 1;
    }
  }

  @starting-style {
    &[open],
    &[open]::backdrop {
      opacity: 0;
    }

    &[open] {
      transform: translateY(20px);
    }
  }
}
